<section id="advantages">
  <h2>YOUR BENEFITS</h2>
  <p>
    KEEP 100% OF YOUR DIAMONDS-WE DON'T TAKE A CUT.<br>
    ENJOY FREE MENTORSHIP AND EXCLUSIVE INSIGHTS INTO TIKTOK LIVE STRATEGIES.<br>
    GRIN ACCESS TO TIKTOK-HOSTED TOURNAMENTS, CAMPAIGNS, AND SPOTLIGHT OPPORTUNITIES.<br>
    RECEIVE A TAILORED STRATEGY TO BOOST YOUR VIEWERSHIP AND DIAMOND EARNINGS THROUGH PERSONALIZED 1:1 CONSULTATIONS.<br>
    WORK WITH A DEDICATED CREATOR MANAGER AVAILABLE TO ASSIST YOU ANY DAY OF THE WEEK.<br>
    JOIN OUR FRIENDLY-FAMILY COMMUNITY.<br>
  </p>
</section>
