<section id="numbers" #numbersSection>
  <h2>NPTT AGENCY NUMBERS:</h2>
  <div class="numbers-container">
    <div class="number-box">
      <span class="num" data-value="7000000">0</span>+
      <p>people watching us</p>
    </div>

    <div class="number-box">
      <span class="num" data-value="250">0</span>+
      <p>streamers in our Agency</p>
    </div>

    <div class="number-box">
      <span class="num" data-value="100">FREE</span>
      <p>100 % education for everyone who wants to join</p>
    </div>

    <div class="number-box">
      <span class="num" data-value="24">24/7</span>
      <p>24/7 support and help</p>
    </div>
  </div>
</section>
