<section id="description">
  <div class="partner-section">
    <p>OFFICIAL PARTNERS</p>
    <img src="/images/tiktok-logo.png" alt="TikTok Logo" class="tiktok-logo" />
  </div>
  <img src="/images/nptt-logo.png" alt="NPTT Agency Logo" />
  <p>LET`S STREAM TOGETHER!</p>
</section>

<!-- Перемещаем за пределы #description -->
<div class="social-icons">
  <a href="https://www.instagram.com/nptt.agency/profilecard/?igsh=MTRhYWZ1Z3d3d3lubw==" target="_blank">
    <img src="/images/instagram-logo-pink.png" alt="Instagram" class="social-icon" />
  </a>
  <a href="https://www.tiktok.com/@nptt.agency?_t=8sI30ltYISU&_r=1" target="_blank">
    <img src="/images/tiktok-logo-pink.png" alt="TikTok" class="social-icon" />
  </a>
</div>

